<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link 

<body>
    
  <style>
    h3{

      font-family:Times, serif;
      color:white;
      background-image: linear-gradient(to right, rgb(17, 54, 71), rgb(20, 147, 220));
      padding:15px;
      border-radius:8px;
      text-align: center;

    }


  </style>

    <table class="table table-sm table table-striped table-hover table-bordered paginated">
        <thead>
          <tr>
            <th>ID</th>
        <th>Data</th>
        <th>Vendedor</th>
        <th>Numero do pedido</th>
        <th>Cliente</th>
        <th>Tipo de Faturamento</th>
        <th>Valor</th>
        <th>Forma|Pagamento</th>
        <th>Parcelas</th>
        <th>Venda|Frete</th>
        <th>Retira|Entrega|Transp.</th>
        <th>Frete|por|conta</th>
        <th>Entrega|cadastro</th>
        <th>Local|Cobrança</th>
        <th>Observações(1)</th>
        <th>Tipo|Frete</th>
        <th>Valor|Frete</th>
        <th>Data|Entrega</th>
        <th style="background: #a6f9ff">Operador|NF</th>
      <th style="background: #a6f9ff">Status|NF</th>
      <th style="background: #a6f9ff">OBS|Financeiro</th>
    
      
      <th>Número|NF</th>
      <th style="background: #a6f9ff">Exped/Log</th>

      <th style="background: #a6f9ff">Responsável|NF</th>
    
      <th style="background: #a6f9ff">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
          </tr>
         
        </tbody>
      </table>



</body>
</html>